*{
	padding: 0;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	box-sizing: border-box;

}

body{
	background-color: rgba(15, 65, 77, 0.3);
	background-image: url(../media/arriereAccueil.jpg) ;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	/*background-color: rgba(0, 0, 0, 0.7);
	background-blend-mode: darken;
	*/
	animation: transitPageEnPage 2s;
}

@keyframes transitPageEnPage{
	from {
		opacity: 0;
		
	}

	to {
		opacity: 1;
		/*background-color: rgba(0, 0, 0, 0.7);
		background-blend-mode: darken;*/
	}
}



.tete{
	height: 10vh;
	width: 100%;
	
}

h2.logo {
	font-weight: 900;
	text-transform: uppercase;
	font-size: 40px;


}

#leI{
color: rgb(100,0,0);

}


nav{
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding-top: 45px;
}

nav ul li{
	list-style-type: none ;
	display: inline-block;
	padding: 15px 15px;

}

nav ul li a{
	font-weight: bold;
	color: white;
	text-decoration: none ;

}

nav ul li a:hover{
	color: black;
	transition: .8s;


}	

#devAPropos
{
	display: flex;
	align-items: center;
	justify-content: center;
	margin: auto ;
	width: 70%;

}

#textSurMoi{
	max-width: 60%;
	animation: glisserTexte  2s ease-out;
}

@keyframes glisserTexte{
	from {
		opacity: 0 ;
		transform: translateX(-500px) ;
		
	}

	to {
		opacity: 1;
		transform: translateX(0px) ;
		
	}
}



img{
	float: right;
	border-radius: 30% 30%;
	max-width: 80vh;
	padding: 0 0 0 -60%;
	
	/*max-height:50vh;*
	box-shadow: 5px 5px 10px rgba(163, 212, 224, 0.36);*/
	animation: glisserPhoto  2s ease-out;
}

@keyframes glisserPhoto{
	from {
		opacity: 0 ;
		transform: translateX(200px) ;
		
	}

	to {
		opacity: 1;
		transform: translateX(0px) ;
		
	}
}